<div id="wrapper">
    <div class="leftColumn">
        <select class="usersFirm" type="text" required ng-model="uid" ng-click="changeUser(editFirm.uId)" ng-change="changeFirm(editFirm)"
            ng-init="disableBtn">
            <option disabled selected value> -- Wybierz użytkownika -- </option>
            <option value="{{u.id}}" ng-repeat="u in users" ng-hide="u.id==1">{{u.username}}</option>
        </select>
        <button class="myButton" ng-click="change()" ng-disabled="(disableBtn) || (user.firm.firmName != undefined)">Dodaj firmę</button>
        <div class="addUserForm">
            <form name="formName" class="formItem" ng-submit="add(addFirm)">
                <div class="row columns">
                    <h3>Dodaj firmę</h3>
                </div>
                <div class="row columns">
                    <label>Nazwa firmy
                        <input type="text" required ng-model="addFirm.firmName" placeholder="Firma" />
                    </label>
                </div>
                <div class="row columns">
                    <label>NIP
                        <input type="text" required ng-model="addFirm.nip" placeholder="NIP">
                    </label>
                </div>
                <div class="row columns">
                    <label>Ulica
                        <input type="text" name="street" required ng-model="addFirm.street" placeholder="np. ul.Reja 14/9" ng-pattern="/(?:(?=(^[A-Za-zęóąśłżźćń]*\s[0-9]{1,3}$))|(?=(^[A-Za-zęóąśłżźćń]*\s[0-9]{1,3}[/][0-9]{1,3}$)))/g"
                        />
                        <span ng-show="formName.street.$error.pattern">Nieodpowiedni format miasta</span>
                    </label>
                </div>
                <div class="row">
                    <label class="columns large-6">Kod pocztowy</label>
                    <label class="columns large-6">Miasto</label>
                    <div class="columns large-6">
                        <input type="text" name="postcode" placeholder="Kod pocztowy" ng-pattern="/[0-9]{2}[-][0-9]{3}/i" required ng-minlength="6"
                            ng-maxlength="6" ng-model="addFirm.postCode" />
                        <span ng-show="formName.postcode.$error.pattern">Nieodpowiedni kod</span>
                    </div>
                    <div class="columns large-6">
                        <input type="text" required ng-model="addFirm.city" placeholder="Miasto" />
                    </div>
                </div>
                <div class="row columns">
                    <button type="submit" ng-disabled="formName.$invalid" class="primary button expanded add-button">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
    <div class="rightColumn">
        <form class="contF">
            <h2>Dane firmy</h2>
            <div class="sameRow">
                <label class="addLabel">Nazwa firmy:</label>
                <div ng-hide="editFi==true">{{user.firm.firmName || 'Brak'}}</div>
                <input type="text" class="editFirmInput" ng-model="editFirm.firmName" placeholder="{{user.firm.firmName}}" ng-show="editFi==true">
            </div>
            <div class="sameRow">
                <label class="addLabel">NIP:</label>
                <div ng-hide="editFi==true">{{user.firm.nip || 'Brak'}}</div>
                <input type="text" class="editFirmInput" ng-model="editFirm.nip" placeholder="{{user.firm.nip}}" ng-show="editFi==true">
            </div>
            <div class="sameRow">
                <label class="addLabel">Ulica:</label>
                <div ng-hide="editFi==true">{{user.firm.street || 'Brak'}}</div>
                <input type="text" class="editFirmInput" ng-model="editFirm.street" placeholder="{{user.firm.street}}" ng-show="editFi==true">
            </div>
            <div class="sameRow">
                <label class="addLabel">Kod pocztowy:</label>
                <div ng-hide="editFi==true">{{user.firm.postCode || 'Brak'}}</div>
                <input type="text" class="editFirmInput" ng-model="editFirm.postCode" placeholder="{{user.firm.postCode}}" ng-show="editFi==true">
            </div>
            <div class="sameRow">
                <label class="addLabel">Miasto:</label>
                <div ng-hide="editFi==true">{{user.firm.city || 'Brak'}}</div>
                <input type="text" class="editFirmInput" ng-model="editFirm.city" placeholder="{{user.firm.city}}" ng-show="editFi==true">
            </div>
            <button ng-disabled="(disableBtn) || (user.firm.firmName == undefined)" ng-click="editF()" ng-hide="editFi==true" class="btn trd">
                <span class="fi-pencil"></span>Edytuj</button>
            <button ng-click="applyEdit(editFirm, user.firm.firmId)" type="submit" ng-show="editFi==true" class="btn scnd">
                <span class="fi-plus small" style="vertical-align:middle"></span>Zatwierdź</button>
            <button ng-click="back(editFirm)" type="submit" ng-show="editFi==true" class="btn fst">
                <span class="fi-x glyph" style="vertical-align:middle"></span>Cofnij</button>
                <div>{{user.firm.name}}</div>
        </form>
    </div>
</div>