<div ng-controller="itemsController">
    <form ng-click="clearSearch()" class="inputForm">
        <input type="text" class="inputSearch" ng-model="searchKeyword" ng-disabled="disableBtn" placeholder="Wyszukaj przedmiot..." />
        <button class="addItemButton" ng-click="addPopUp()" ng-disabled="disableBtn">Dodaj przedmiot</button>
        <select ng-model="wId" class="whItemsSelect" ng-change="chooseWh(wId)" ng-init="disableBtn">
                <option disabled selected value> -- Wybierz magazyn -- </option>
            <option ng-repeat="w in whs | orderBy: 'id'" value="{{w.id}}">{{w.name}}</option>
        </select>
    </form>
    <div id="pAdd" class="addItemForm">
        <form name="formName" class="formItem" ng-submit="createItem(addItem)">
            <div class="row columns">
                <h3>Dodaj przedmiot</h3>
            </div>
            <div class="row columns">
                <label>Nazwa przedmiotu
                    <input type="text" required ng-model="addItem.iN" placeholder="Przedmiot" />
                </label>
            </div>
            <div class="row columns">
                <label>Opis przedmiotu
                    <textarea required ng-model="addItem.desc" placeholder="Dodaj opis"></textarea>
                </label>
            </div>
            <div class="row">
                <label class="columns large-4">Ilość</label>
                <label class="columns large-4">Jednostka</label>
                <label class="columns large-4">Cena</label>
                <div class="columns large-4">
                    <input type="number" min="0" required ng-model="addItem.st" placeholder="Dodaj ilość" />
                </div>

                <div class="columns large-4">
                    <input type="text" required ng-model="addItem.un" placeholder="Dodaj jednostkę" />
                </div>

                <div class="columns large-4">
                    <input type="text" required ng-model="addItem.pr" placeholder="Dodaj cenę" />
                </div>
            </div>
            <div class="row columns" ng-controller="groupsController">
                <label>Grupa
                    <select type="text" required ng-model="addItem.gId" ng-click="changeGroup(addItem.gId)">
                        <option value="">Wybierz z listy</option>
                        <option ng-repeat="g in groups" value="{{g.id}}">{{g.name}}</option>
                        <option value="change">Brak na liście? Dodaj grupę</option>
                    </select>
                </label>
            </div>
            <div class="row columns" ng-controller="typesController">
                <label>Typ
                    <select type="text" required ng-model="addItem.tId" ng-click="changeType(addItem.tId)">
                        <option value="">Wybierz z listy</option>
                        <option ng-repeat="t in types" value="{{t.id}}">{{t.name}}</option>
                        <option value="change">Brak na liście? Dodaj listę</option>
                    </select>
                </label>
            </div>
            <div class="row columns">
                <label>Uwagi
                    <textarea required ng-model="addItem.no" ng-init='addItem.no = "Brak."'></textarea>
                </label>
            </div>
            <div class="row columns">
                <label>Barcode
                    <input type="text" ng-model="addItem.bar" placeholder="Barcode"></input>
                </label>
            </div>
            <div class="row columns">
                <button type="submit" ng-disabled="formName.$invalid" class="primary button expanded add-button">Dodaj</button>
            </div>
        </form>
    </div>
    <div id="gAdd" class="backForm"></div>

    <table class="responsive-card-table unstriped">
        <thead>
            <tr>
                <th>Przedmiot</th>
                <th>Opis</th>
                <th>Ilość</th>
                <th>Jm.</th>
                <th>Cena</th>
                <th>Kod skanera</th>
                <th>Grupa</th>
                <th>Typ</th>
            </tr>
        </thead>
        <tbody ng-repeat="i in items | filter: searchKeyword">
            <tr ng-click="popUp(i)">
                <td>
                    {{i.itemName}}
                </td>
                <div id="p" class="pop">

                    <form name="editName" class="formEdit">
                        <div class="row columns">
                            <h3>Edytuj przedmiot</h3>
                        </div>
                        <div class="row columns">
                            <label>Nazwa przedmiotu
                                <input type="text" ng-hide="active == $index" placeholder="{{thisItem.itemName}}" readonly="readonly" />
                                <input type="text" ng-show="active == $index" required ng-model="editItem.itemName" ng-value="thisItem.itemName" />
                            </label>
                        </div>
                        <div class="row columns">
                            <label>Opis
                                <textarea type="text" ng-hide="active == $index" placeholder="{{thisItem.description}}" readonly="readonly" />
                                <textarea type="text" ng-show="active == $index" required ng-model="editItem.description" ng-value="thisItem.description"
                                />
                            </label>
                        </div>
                        <div class="row">
                            <label class="columns large-4">Ilość</label>
                            <label class="columns large-4">Jednostka</label>
                            <label class="columns large-4">Cena</label>
                            <div class="columns large-4">
                                <input type="text" ng-hide="active == $index" placeholder="{{thisItem.stock}}" readonly="readonly" />
                                <input type="text" ng-show="active == $index" required ng-model="editItem.stock" ng-value="thisItem.stock" />
                            </div>
                            <div class="columns large-4">
                                <input type="text" ng-hide="active == $index" placeholder="{{thisItem.unit}}" readonly="readonly" />
                                <input type="text" ng-show="active == $index" required ng-model="editItem.unit" ng-value="thisItem.unit" />
                            </div>
                            <div class="columns large-4">
                                <input type="text" ng-hide="active == $index" placeholder="{{thisItem.price}}" readonly="readonly" />
                                <input type="text" ng-show="active == $index" required ng-model="editItem.price" ng-value="thisItem.price" />
                            </div>
                            </label>
                        </div>
                        <div class="row">
                            <label class="columns large-6">Grupa</label>
                            <label class="columns large-6">Typ</label>
                            <div class="columns columns large-6" ng-controller="groupsController">
                                <div ng-hide="active == $index">{{thisItem.group.name}}</div>
                                <select type="text" ng-show="active == $index" required ng-model="editItem.gId" ng-click="changeGroup(editItem.gId)">
                                    <option value="">Wybierz z listy</option>
                                    <option ng-repeat="g in groups" value="{{g.id}}">{{g.name}}</option>
                                    <option value="change">Brak na liście? Dodaj grupę</option>
                                </select>
                                <div>{{editItem.gId}}</div>
                            </div>
                            <div class="columns columns large-6" ng-controller="typesController">
                                <div ng-hide="active == $index">{{thisItem.type.name}}</div>
                                <select type="text" ng-show="active == $index" required ng-model="editItem.tId" ng-click="changeType(editItem.tId)">
                                    <option value="">Wybierz z listy</option>
                                    <option ng-repeat="t in types" value="{{t.id}}">{{t.name}}</option>
                                    <option value="change">Brak na liście? Dodaj grupę</option>
                                </select>
                                <div>{{editItem.tId}}</div>
                            </div>
                        </div>
                        <div class="row columns">
                            <label>Uwagi
                                <textarea type="text" ng-hide="active == $index" placeholder="{{thisItem.notes}}" readonly="readonly"></textarea>
                                <textarea type="text" ng-show="active == $index" required ng-model="editItem.notes" ng-value="thisItem.notes"></textarea>
                            </label>
                        </div>
                        <div class="row columns">
                            <label>Czas dodania
                                <input type="text" placeholder="{{thisItem.timestamp}}" readonly="readonly" />
                            </label>
                        </div>
                        <div class="row columns">
                            <label>Magazyn
                                <input type="text" placeholder="{{thisItem.warehouse}}" readonly="readonly" />
                            </label>
                        </div>
                        <div class="row columns">
                            <label>Kod kreskowy
                                <input type="text" ng-hide="active == $index" placeholder="{{thisItem.barcode}}" readonly="readonly" />
                                <input type="text" ng-show="active == $index" ng-model="editItem.barcode" ng-value="thisItem.barcode" />
                            </label>
                        </div>
                        <div class="row columns">
                            <button ng-hide="active==$index" ng-click="edit($index)" class="primary button expanded">Edytuj</button>
                            <button ng-show="active==$index" ng-disabled="editName.$invalid" ng-click="update(editItem)" class="primary button expanded">Zatwierdź</button>
                        </div>
                        <div class="row columns">
                            <button ng-click="close()" class="primary button expanded">Koniec</button>
                        </div>
                        <div class="row columns">
                            <button ng-hide="active==$index" ng-click="delete()" class="primary button expanded">Usuń</button>
                            <button ng-show="active==$index" ng-click="back()" class="primary button expanded">Cofnij</button>
                        </div>
                    </form>
                </div>
                <div id="g" class="grey"></div>
                <td>{{i.description}}</td>
                <td>{{i.stock}}</td>
                <td>{{i.unit}}</td>
                <td>{{i.price}} zł</td>
                <td>{{i.barcode}}</td>
                <td>{{i.groupName}}</td>
                <td>{{i.typeName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<a href="/groups" class="button">Grupy</a>