<div class="row content">
    <div>
        <ul class="tabs" data-tabs id="raports-tabs">
            <li class="tabs-title is-active">
                <a aria-selected="true" href="#panel1">Inwentaryzacja</a>
            </li>
            <li class="tabs-title">
                <a href="#panel2">Przyjęcia</a>
            </li>
            <li class="tabs-title">
                <a href="#panel3">Wydania</a>
            </li>
            <div class="slide"></div>
        </ul>
    </div>

    <div class="tabs-content" data-tabs-content="raports-tabs">
        <div class="tabs-panel is-active" id="panel1">
            <h3>Raporty z inwentaryzacji</h3>
            <div ng-click="generateInv(i); go('/raport/invRaport')" ng-repeat="i in invRaps | orderBy: 'id'">
                <div class="raports columns large-3">
                    {{i.inventoryNumber}}
                </div>
            </div>
        </div>

        <div class="tabs-panel" id="panel2">
            <h3>Raporty z przyjęcia przedmiotów</h3>
            <div ng-click="generateDep(d); go('/raport/depRaport')" ng-repeat="d in depRaps | orderBy: 'id'">
                <div class="raports columns large-3">
                    {{d.invoiceName}}
                </div>
            </div>
        </div>
        <div class="tabs-panel" id="panel3">
            <h3>Raporty z wydania przedmiotów</h3>
            <div ng-click="generateRel(r); go('/raport/relRaport')" ng-repeat="r in relRaps | orderBy: 'id'">
                <div class="raports columns large-3">
                    {{r.id}}
                </div>
            </div>
        </div>
    </div>
</div>