<!-- <div class="large-12 columns user-body" >
    <div class="">
        <h3 class="user-header">Moje dane</h3>
    </div>
    <div class="user-middle row">
        <div class="large-3 columns left-user-column">
            <div class="column-inside">
                <p>Zalogowany jako {{user.name}} {{user.surname}} ( {{user.username}} )</p>
            </div>
        </div>
        <div class="large-4 columns middle-user-column">
            <div class="column-inside">
                <h3 class="user-header-inside">Firma</h3>
                <ul class="user-list">
                    <li>
                        <h4>{{firm.firmName}}</h4>
                    </li>
                    <li>{{firm.street}}</li>
                    <li>{{firm.postCode}} {{firm.city}}</li>
                    <li>NIP: {{firm.nip}}</li>
                </ul>
            </div>
        </div>

        <div class="large-5 columns right-user-column">
            <div class="column-inside" ng-controller="showWhController">
                <h3 class="user-header-inside">Magazyny</h3>
                <div class="select-label">Wybierz magazyn</div>
                <select class="select" ng-model="wid" ng-change="changeWh(wid)">
                    <option disabled selected value> -- </option>
                    <option value="{{w.id}}" ng-repeat="w in whs | orderBy: 'id'">{{w.name}}</option>
                </select>

                <ul class="user-list">
                    <li>
                        <h4>{{wh.name}}</h4>
                    </li>
                    <li>{{wh.street}}</li>
                    <li>{{wh.postCode}} {{wh.city}}</li>
                </ul>
            </div>

        </div>
    </div>
</div> -->
<div class="userBody">
    <section id="userSite">
        <span class="sectionText">Moje dane</span>
    </section>
    <section id="firmSite">
        <div class="sectionHeader">Firma</div>
        <div class="sectionFirm">
            <div class="selectionNameHeader">{{firm.firmName}}</div>
            <div>{{firm.street}}</div>
            <div>{{firm.postCode}}, {{firm.city}}</div>
            <div>NIP: {{firm.nip}}</div>
        </div>
    </section>
    <section id="whSite">
        <div class="sectionHeader">Magazyny</div>
        <div class="leftSectionWh">
            <select class="selectionSelect" ng-model="wid" ng-change="changeWh(wid)">
                <option disabled selected value> -- </option>
                <option value="{{w.id}}" ng-repeat="w in whs | orderBy: 'id'">{{w.name}}</option>
            </select>
        </div>
        <div class="rightSectionWh">
            <div class="selectionNameHeader">{{wh.name}}</div>
            <div>{{wh.street}}</div>
            <div>{{wh.postCode}} {{wh.city}}</div>
        </div>
    </section>
    </div>