.leftInvColumn{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}
.inventh1{
    text-align: center;
}
.invForm{
    display: block;
}
.selectedItem{
    display: flex;
    align-items: center;
    flex-direction: row;
}
select.inv{
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #001f33;
}
input[type="text"].invAddInput, input[type="text"].invAddInput:focus{
    margin-bottom: 5px;
    border: 1px solid #001f33;
}
.deleteListButton, .deleteListButton:hover, .deleteListButton:focus{
    margin-bottom: 5px;
    padding: 7px 10px;
    margin-left: 3px;
    background-color: #ff8080;
    border: 1px solid #cc0000;
}
.invForm{
    width: 100%;
    height: auto;
}
.row{
    width: 100%;
}
.invDiv{
    margin-top: -5px;
    width: 100%;
    height: auto;
}
.invLabel{
    cursor: auto;
}
input[type="text"].invInput, .invTextarea, .invSelect, input[type="text"].invInput:focus, .invTextarea:focus, .invSelect:focus{
    width: 400px;
    border: 1px solid #001f33;
}
.invTextarea{
    max-width: 400px;
    min-width: 400px;
    min-height: 100px;
}
.rightInvColumn{
    float: right;
    width: 50%;
    max-height: 550px;
    overflow: hidden;
    overflow-y: hidden
}
.saveDoc, .saveDoc:hover, .saveDoc:focus{
    position: absolute;
    bottom: -130px;
    right: 50%;
    padding: 10px 20px;
    background-color: #e65c00;
    border: 2px solid #803300;
}
.saveDoc:disabled, .saveDoc:disabled:hover{
    position: absolute;
    bottom: -130px;
    right: 50%;
    padding: 10px 20px;
    background-color: #e65c00;
    border: 2px solid #803300;
    cursor: not-allowed;
}
.saveDoc i {
    padding-right: 3px;
}
.addNextItem, .addNextItem:hover, .addNextItem:focus, .addNextItem:active{
    margin-left: 100px;
    padding: 5px 10px;
    border-radius: 0;
    background-color: #005c99;
    border: 2px solid #001f33;
}
.addNextItem i{
    padding-right: 3px;
}